.row.mt-3.mb-3
  .col
    %h1 2015 Items

.row.mt-3.mb-3
  .col
    .alert.alert-secondary{role: 'alert'}
      %h4.text-sm.text-uppercase.text-muted Legend

      %div
        %i.bi.bi-credit-card-fill.icon-gradient-secondary.text-sm
        &bull;
        this is a gift card
      %div
        %i.bi.bi-x-circle-fill.icon-gradient-grey.text-sm
        &bull; this gift card was not for sale, but instead used in a gift card tree or game
      %div
        %i.bi.bi-basket-fill.icon-gradient-basket.text-sm
        &bull;
        this item was part of a basket and not for sale individually

.row.mb-1
  .col-sm-6.col-md-4
    %input.form-control#search{type: "search", placeholder: 'Search…'}

.row.mb-3
  .col-sm-12.text-sm{style: 'font-weight: 300;'}
    Showing
    %span#visible-item-count= @items.count
    out of
    %span#all-item-count= @items.count
    items &mdash;
    %span#sold-item-count= @items.select{ |i| !i.winning_bid.nil? }.length
    of them sold for
    %span#sale-value= number_to_currency(@items.sum{ |i| i.winning_bid.nil? ? 0 : i.winning_bid })

.row
  .col
    %table.table.table-striped.align-top#item-table
      %thead
        %tr.text-sm.text-uppercase
          %th
          %th Title
          %th GC
          %th Value
          %th Sold
          %th Description

      %tbody
        - @items.each do |item|
          %tr{'data-sold-for' => item.winning_bid.nil? ? 0 : item.winning_bid }
            %td.text-muted= item.id
            %td.text-nowrap= item.title
            %td.text-nowrap
              - if item.IsGiftCertificate == 1
                %i.bi.bi-credit-card-fill.icon-gradient-secondary.text-sm
                - if item.InGiftCardTree == 1
                  %i.bi.bi-x-circle-fill.icon-gradient-grey.text-sm

              - if item.InBasket == 1
                %i.bi.bi-basket-fill.icon-gradient-basket.text-sm
            %td
              - if item.Value == 0
                ∞
              - else
                = number_to_currency(item.Value)
            %td= number_to_currency(item.winning_bid)
            %td.text-sm
              .div
                %span.donor
                  %span.text-uppercase{style: 'font-weight: 600;'}= item.donor&.name
                  %span= item.donor&.contact
                %span.gatherer
                  &larr; brought in by #{item.committee_contact&.CommitteeContactName}

              = item.description

              - if [1,2].include?(item.CategoryID)
                %div
                  %span.category= "[#{category(item.CategoryID)}]"

              - if item.TableID&.include?('LIVE')
                %div
                  %span.category= "[Live Auction]"