.row.mt-3.mb-3
  .col
    %h1 2019 Items

.row.mt-3.mb-3
  .col
    .alert.alert-primary{role: 'alert'}
      An
      %i.bi.bi-x-circle-fill.icon-gradient-grey.text-sm
      in the
      %span.text-strong.text-sm.text-capitalize SOLD
      column means the gift card was not actually for sale, but was probably part of some game or giveaway.

.row.mb-1
  .col-sm-6.col-md-4
    %input.form-control#search{type: "search", placeholder: 'Search…', disabled: true}

.row.mb-3
  .col-sm-12.text-sm{style: 'font-weight: 300;'}
    Showing
    %span#visible-item-count= @items.count
    out of
    %span#all-item-count= @items.count
    items

-#.row.mb-3
  .col-sm-12
    .form-check
      %input.form-check-input#only-gc{type: "checkbox"}
      %label.form-check-label{for: "only-gc"}
        Only show gift cards

-#.row
  .col-sm-12
    .form-check-inline
      %input.form-check-input#status-all{type: "radio", name: 'status', value: 'all', checked: true}
      %label.form-check-label{for: "status-all"} Show all items
    .form-check-inline
      %input.form-check-input#status-sold{type: "radio", name: 'status', value: 'sold'}
      %label.form-check-label{for: "status-sold"} Show only sold items
    .form-check-inline
      %input.form-check-input#status-unsold{type: "radio", name: 'status', value: 'unsold'}
      %label.form-check-label{for: "status-unsold"} Show only unsold items

.row
  .col
    %table.table.table-striped.align-top#item-table
      %thead
        %tr.text-sm.text-uppercase
          %th
          %th Title
          %th GC
          %th Value
          %th Sold
          %th Description

      %tbody
        - @items.each do |item|
          %tr
            %td.text-muted= item.id
            %td.text-nowrap= item.title
            %td
              - if item.IsGiftCertificate == 1
                %i.bi.bi-credit-card-fill.icon-gradient-secondary.text-sm
            %td
              - if item.Value == 0
                ∞
              - else
                = number_to_currency(item.Value)
            %td
              - if item.InGiftCardTree == 1
                %i.bi.bi-x-circle-fill.icon-gradient-grey.text-sm
              - else
                = number_to_currency(item.winning_bid)
            %td.text-sm
              .div
                %span.donor
                  %span.text-uppercase{style: 'font-weight: 600;'}= item.donor&.name
                  %span= item.donor&.contact
                %span.gatherer
                  &larr; brought in by #{item.committee_contact&.CommitteeContactName}

              = item.description